@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ramabhadra&display=swap');
body{
	padding: 10px;
	padding: 10px;
	background-color: #9BBF65; 
	background-repeat: no-repeat;
}

.nav-link{
	color: #807EBF !important;
	font-family: 'Fjalla One', sans-serif;
	/*-webkit-text-stroke-width: 0.05px;
   -webkit-text-stroke-color: white;*/

}

.navbar-brand{
	color: #807EBF !important;
}

.nav-link:hover{
	transform: scale(1.1);
}

.nav-seperator{
	display: block;
	position: relative;
	color: white;
	padding-bottom: 15px; 
	font-size: 35px;
	bottom: 15px;
}

#section1 {
	padding: 10px;
	background-color: #9BBF65; 
	background-repeat: no-repeat;
	text-align: center;
}

.btn{
	display: grid;
	background-color: white;
	max-width: 200px;
	grid-template-columns: 70% 30%;
}

.greeting {
	min-width: 320px;
	font-family: 'Ramabhadra', sans-serif;
	color: white;
	margin-bottom: 20px;
}

.sub-greeting {
	margin-bottom: 5em;
	color: #CBD9C7;
}

@media(max-width: 991px){
	.nav-seperator{
		display: none;
	}

	#main-image{
		display: none
	}

	.btn{
		margin: auto;
	}
}

@media (max-width: 1199.98px) {
	
	.btn{
		margin: auto;
	}

}