@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

body{
	background-color: #545454; 
	background-repeat: no-repeat;
}
/*Navigation items */
.nav-link{
	color: white !important;
	font-family: 'Fjalla One', sans-serif;

}

.navbar-brand{
	color: white !important;
	font-family: 'Fredericka the Great', cursive;
	font-size: 30px;
}

.nav-link:hover{
	transform: scale(1.1);
}

.button-end{
	background-color: #7E9181; 
	height: 100%;
}

.nav-seperator{
	display: block;
	position: relative;
	color: white;
	padding-bottom: 15px; 
	font-size: 35px;
	bottom: 15px;
}

/*Sections*/
#section1 {
	padding: 10px;
	background-color: #545454; 
	background-repeat: no-repeat;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

#section1 h1.greeting {
	font-size: 100px;
}


#section2{
	background-color: #4F593F;
	padding: 10px;
	padding-left: 80px;
	padding-right: 80px;
}

.btn{
	display: grid;
	background-color: white;
	max-width: 200px;
	grid-template-columns: 70% 30%;
}

.greeting {
	min-width: 320px;
	font-family: 'Ramabhadra', sans-serif;
	color: white;
	margin-bottom: 20px;
	padding: 5% 0px;
}

.special-offer {
	padding: 50px;
	background-color: #44784E;
	max-height: 450px;
}

.sub-greeting {
	margin-bottom: 5em;
	color: #CBD9C7;
}

.popular-item{ 
	padding:  0px 10% 0px 10%; 
	border-radius: 20px;
	background-color: rgb(84, 84, 84);
	width: 100%;
	margin: 0px 10% 0px 10%; 

 }

 #end-game{
 	display: none;

 	
 }

 .background-image{
 	margin-left: 20em;
 	height: 700px;
 }

 .my-button{ 
	text-align: center;
	width: 100%;
	padding: 0px;
	height: 50px; 
	margin: "auto";
  }

 .row.popular-item.active{ 
	border-radius: 0px;
	background-color: white !important;
	background: transparent; 
	width: 100%;
	margin: 0px 10% 0px 10%; 
	transform: scale(1.05);
	color: #7E9181 !important;
	padding-right: 0px;
	/*max-height: 65px;*/
	box-shadow: 2px 2px 15px 1px black;
 }

 .row.popular-item.active .greeting{ 
	color: #C1D6BF;
	transform: scale(1.1);
 }

 .row.popular-item.active #end-game{
 	display: block;
 	line-height: 0px;
 }

 .row.popular-item.active #end-game:hover{
 	display: block;
 	line-height: 0px;
 	background-color: rgb(61, 122, 71);
 }

.popular-desc{
	text-align: right;
	padding:  5%  0px 5% 0px; 
	margin: 0px;
}

.scroll-image{
	max-width: 100%;
	width:  auto;
	height:  600px;
	position: relative;
	box-shadow: 0px 0px 6px 3px black;
	bottom: 40px;
}
#footer a{	
	font-size: calc(0.2vw + 0.1vh + 1vmin);;
	color: white;

}

#footer p {
	font-family: 'Fjalla One', sans-serif;
}

#footer .navbar-brand { 
	font-size: 40px;
	display: block;
 }

 div.btn.my-btn{ 
	text-align: center;
	width: 100%;
	padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
	margin: "auto";
  }

  #footer{
		background-color: #5454545; 
		padding-left: 10%;
		padding-top: 5%;
		padding-right: 10%;
		padding-bottom: 5%; 
	}

@media(max-width: 991px){
	.nav-seperator{
		display: none;
	}

	#main-image{
		display: none
	}

	.navbar-brand{
		display: none;
	}

	.btn{
		margin: auto;
	}

	.popular-desc{
	
		padding:  0px;
		text-align: left;
		margin: 0px;
	}

	.greeting{
		padding-bottom: 0px;
	}

	.scroll-image{
		width: 600px;
		height: auto;
		bottom: 100vh;
		left: 140%;
	}

}

@media (max-width: 1199.98px) {

	.btn{
		margin: auto;
	}

	.popular-desc{
	
		padding-top:  5%;
		text-align: left;
		margin: 0px;
	}

	.greeting{
		padding-bottom: 10px;
	}

	.popular-desc{
		display: none;
	}

	.special-offer{
		display: block;
	}

}

@media (max-width: 489px) {

	#section1 h1.greeting {
		font-size: 60px;
		position: relative;
		right: 20px;

	}

	h5.sub-greeting {
		position: relative;
    	left: 15%;
	}

	div.btn.my-btn {
		position: relative;
	    left: 10%;
	}

	.row.popular-item.active { 
		width: 160%;
		position: relative;
		right: 20%;
	 }

	 #section2{
	 	position: relative;
    	left: 10%;
    	padding: 0px;
	 }

	 .scroll-image{
	 	display: none; 
	 }

	 a.navbar-brand {
	 	text-align: right;
	 }

	 #footer p {
	 	text-align:  center;
	 }

	 #footer a {
	 	font-size: 12px;
	 }


	#footer .links {
		position: relative;
		left: 10%;
	}

}